@import "react-datepicker/dist/react-datepicker.css";

.react-datepicker__input-container input {
  width: 100%;
  padding: 16px 20px;
  border-color: #ECE9EC;
  border-width: thin;
  border-radius: 6px;
  background-color: #ffffff;
}

.react-datepicker{
  background-color: #F3F0F3;
  font-family: Roboto; 
  font-weight: 500;
}

.react-datepicker__header{
  background-color: #F3F0F3;
}